## In this notebook we will preprocess the data from the excel file of anime character quotes and then we will extract the keywords from it and then we will make a new dataframe which will contain quote and keywords.

# Importing Pandas

In [ ]:
import pandas as pd

## Reading the csv file containing quotes

In [ ]:
df = pd.read_csv('/content/lessreal-data.csv',sep=';')

In [ ]:
df = df.loc[: , ['Quote']]

In [ ]:
df.head()

                                               Quote
0  In the end the shape and form don't matter at ...
1  I'm still a man too, I wanted to look calm and...
2  Clausewitz, he pointed out that no matter how ...
3  Because of the existence of love - sacrifice i...
4  Courage is a word of justice. It means the qua...

## Yet Another Keyword Extractor Installation

We will install yake from pip and will apply on the anime character movie dialogs to extract the most important keywords from the dialog line.

In [ ]:
!pip3 install yake

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yake
  Downloading yake-0.4.8-py2.py3-none-any.whl (60 kB)
     |████████████████████████████████| 60 kB 4.0 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from yake) (1.21.6)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from yake) (2.6.3)
Collecting segtok
  Downloading segtok-1.5.11-py3-none-any.whl (24 kB)
Requirement already satisfied: click>=6.0 in /usr/local/lib/python3.7/dist-packages (from yake) (7.1.2)
Collecting jellyfish
  Downloading jellyfish-0.9.0.tar.gz (132 kB)
     |████████████████████████████████| 132 kB 13.7 MB/s
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from yake) (0.8.10)
Requirement already satisfied: regex in /usr/local/lib/python3.7/dist-packages (from segtok->yake) (2022.6.2)
Building wheels for collected packages: jellyfish
  Building wheel for jellyfish (setup.py) ... done
  Created wheel for jellyfish: filename=jellyfish-0.9.0-cp37-cp37m-linux_x86_64.whl size=74015 sha256=fb9db54b3cc5c7b6f0c8fcee87f140395ca546e5ab138db3a834d83b3babef4c
  Stored in directory: /root/.cache/pip/wheels/fe/99/4e/646ce766df0d070b0ef04db27aa11543e2767fda3075aec31b
Successfully built jellyfish
Installing collected packages: segtok, jellyfish, yake
Successfully installed jellyfish-0.9.0 segtok-1.5.11 yake-0.4.8

# Extracting the keyword from the line

In [ ]:
import yake
from operator import itemgetter

def extract_keyword(text):
  # Initializing the keyword extractor
  kw_extractor = yake.KeywordExtractor()
  # Extracting the keywords
  keywords = kw_extractor.extract_keywords(text)
  if keywords:
    # If there is any important word in the text
    # Yake will output a tuple of important kw with their importance score
    # We will get the top word with highest importance score
    key = max(keywords,key=itemgetter(1))[0]
  else:
    key = 'raw'
  return key

In [ ]:
# Inserting a new column in the dataframe with keywords
df['Keyword'] = df['Quote'].apply(lambda x:extract_keyword(x))

In [ ]:
# checking the empty data in the dataframe
df.isna().sum()

Quote      404
Keyword      0
dtype: int64

In [ ]:
# dropping the data with empty values 
df.dropna(inplace=True)

In [ ]:
df.isna().sum()

Quote      0
Keyword    0
dtype: int64

## Refined Dataset

In [ ]:
df.head()

                                               Quote      Keyword
0  In the end the shape and form don't matter at ...       matter
1  I'm still a man too, I wanted to look calm and...         love
2  Clausewitz, he pointed out that no matter how ...     armchair
3  Because of the existence of love - sacrifice i...  comprehends
4  Courage is a word of justice. It means the qua...       excuse

# Exporting the dataset as csv

In [ ]:
df.to_csv("Quotes_with_keyword.csv")